.carousel--box-2 {
  position: relative;
}

.carousel {
  width: 100%;
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.carousel--box-1 {
  position: relative;
}

/* carousel images */

.carousel__image {
  flex-shrink: 0;
  width: 100%;
  display: block;
  scroll-snap-align: start;
  scroll-snap-stop: normal;
  position: relative;
  overflow: hidden;
}

.carousel__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* end carousel images */

/* carousel links */
.carousel__links {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  position: absolute;
  bottom: 0;
  transform: translate(0, -100%);
}

.circle {
  width: 1rem;
  height: 1rem;
  background-color: #000;
  border-radius: 50%;
}

/* end carousel links */

/* carousel buttons */
.carousel__buttons {
  width: 10vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel__left {
  position: absolute;
  top: 0;
  left: 0;
}

.carousel__right {
  position: absolute;
  top: 0;
  right: 0;
}

/* end carousel buttons */

/* carousel scroll bar */
*::-webkit-scrollbar {
  width: 0;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
}
/* end carousel scroll bar */

/* image 1 info box */
.carousel--box-3 {
  position: absolute;
  width: 30vw;
  height: 100%;
  top: 0;
  left: 10vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.carousel__info--large p {
  font-size: 4vw;
  font-weight: bold;
}

.carousel__info--small p {
  font-size: 2vw;
}

.carousel--white {
  color: var(--white);
}

.carousel--black {
  color: var(--black);
}

.carousel--center {
  text-align: center;
}

.carousel--end {
  text-align: end;
}

@media screen and (min-width: 1192px) {
  .carousel__info--small p {
    font-size: 1rem;
  }

  .carousel__info--large p {
    font-size: 4rem;
  }

  .carousel--box-3 {
    width: 250px;
  }
}

/* end image 1 info box */

/* image 2 info box */

.carousel--box-4 {
  position: absolute;
  width: 30vw;
  height: 100%;
  top: 0;
  right: 10vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (min-width: 1192px) {
  .carousel--box-4 {
    width: 300px;
  }
}

/* end image 2 info box */

/* image 3 info box */
.carousel--box-5 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* end image 3 info box */
