* {
  box-sizing: border-box;
}

#root {
  font-size: 16px;
  --white: #fff;
  --black: #000;
  --desktop: 1025px;
}

ul {
  list-style-type: none;
  padding: 0;
}

.App {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  text-decoration: none;
}

.App--box-1 {
  width: 100%;
}

@media screen and (min-width: 1025px) {
  .App--box-1 {
    width: var(--desktop);
  }
}
