* {
  box-sizing: border-box;
}

#root {
  font-size: 16px;

  /* global variables */
  --white: #fff;
  --black: #000;
  --gold: rgba(244, 174, 64, 1);
  --desktop: 1025px;
  --buttonA-hover-bgc-bottom: #3d3d3d;
  --buttonA-hover-bgc-top: #8e393d;

  /* global margin variables */
  --margin-bottom-1: 1rem;

  /* padding variables */
  --padding1: 1.5rem;
}

/* global text styling */
.text-styles-1 {
  background: transparent;
  border: 0;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  outline: none;
}

.text-styles-2 {
  background: transparent;
  border: 0;
  margin: 1rem 0 0 0;
  padding: 0;
  vertical-align: baseline;
  outline: none;
}

.text-styles-3 {
  font-family: "Bitter", Arial, Helvetica, "Nimbus Sans L", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  font-style: normal;
  text-transform: none;
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.App {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  text-decoration: none;
}

.App--box-1 {
  width: 100%;
}

@media screen and (min-width: 1025px) {
  .App--box-1 {
    width: var(--desktop);
  }
}
